<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383417509865-29kjmi5h3r749681eqfma63v1jted9qr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383417509865-29kjmi5h3r749681eqfma63v1jted9qr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>383417509865-0nmbotpb4pn6217tp0hj7ttdve306r5a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDZKPe2otc34Wvf0jFTJnudziNIOJnpkAo</string>
	<key>GCM_SENDER_ID</key>
	<string>383417509865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.plexar</string>
	<key>PROJECT_ID</key>
	<string>taskbox-fc4da</string>
	<key>STORAGE_BUCKET</key>
	<string>taskbox-fc4da.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383417509865:ios:4d8856fa638dfdaa32cd78</string>
</dict>
</plist>